
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('Poppins/Poppins-Regular.ttf') format('truetype');
}

:root {
    --first-color: hsl(222, 80%, 58%);
    --dark-color: hsl(222, 24%, 8%);
    --title-color: hsl(222, 8%, 8%);
    --text-color-light: hls(222, 8%, 65%);
    --white-color: #f7f3f3;
    --body-color: hsl(222, 100%, 99%); 

    --body-font: 'poppins', sans-serif;
    --small-font-size: .813rem;
}



@media screen and (min-width: 968px) {
    :root {
        --small-font-size: .875rem;
    }
} 


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--body-color);
}

.container {
    height: 100vh;
    margin-inline: 1.5rem;
    display: grid;
    place-items: center;
}

.search {
    position: relative;
    width: 76px;
    height: 76px;
    background-color: var(--white-color);
    box-shadow: 0 4px 24px hsla(222, 60%, 12%, 1);
    border-radius: 4rem;
    padding: 10px;
    overflow: hidden;
    transition: width .5s cubic-bezier(.9, 0, .3, .9);
}

.search__input {
    border: none;
    outline: none;
    width: calc(100% - 64px);
    height: 100%;
    border-radius: 4rem;
    padding-left: 14px;
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: 500;
    transition: opacity 1.5s; /* error */
}

.search__input:-webkit-autofill {
    box-shadow: 0 0 0 100px var(--white-color) inset;
}

.search__button {
    width: 56px;
    height: 56px;
    background-color: var(--dark-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform .6s cubic-bezier(.9, 0, .3, .9);
  }
  
  .search__icon,
  .search__close {
    color: var(--white-color);
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .search__close {
    opacity: 0;
    pointer-events: none;
  }
  
  .show-search .search__input {
    opacity: 1;
    pointer-events: initial;
  }
  
  .show-search .search__button {
    transform: rotate(0deg) translate(0, -50%);
  }

  
  .show-search .search__icon {
    opacity: 0;
    pointer-events: none;
  }
  
  .show-search .search__close {
    opacity: 1;
  }
  

@media screen and (min-width: 276px) {
    .show-search {
        width: 450px;
    }
    
}